@use '../../styles/variables';

.footer {
  border-top: 1px solid variables.$border-color;
  padding: 2rem;
  text-align: center;

  &__link {
    text-decoration: underline;
    color: var(--primary-accent-color);
  }
}
