@use './theme.scss';
@use './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

ul, li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  font-size: 10px;
  // Added to fix cumulative layout shift that appears after content is loaded and scroll appears
  // overflow-y: scroll;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

textarea, input {
  font-family: var(--font-geist-sans), var(--font-geist-mono), sans-serif, monospace;
}

/** ------- Animations ------- **/
/** Melting text animation that can be used for titles **/
/** Usage example in JSX: <div className="melting-text-container"><h1 className="melting-text">{title}</h1></div> **/
.melting-text-container {
  position: relative;
  overflow: hidden;
}

.melting-text {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  animation: melt 3s infinite ease-in-out;
  background: linear-gradient(90deg, #ff6f61, #ffbd44, #ff6f61);
  -webkit-background-clip: text;
  color: transparent;
}

.melting-text::before,
.melting-text::after {
  content: 'MY NOTES';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff6f61, #ffbd44, #ff6f61);
  -webkit-background-clip: text;
  color: transparent;
  z-index: -1;
  transform: scaleY(1);
  opacity: 0.5;
  animation: drip 3s infinite ease-in-out;
}

.melting-text::after {
  filter: blur(10px);
  opacity: 0.3;
}

/* Keyframes for melting effect */
@keyframes melt {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes drip {
  0%, 100% {
    transform: scaleY(1);
    opacity: 0.5;
  }
  50% {
    transform: scaleY(1.5);
    opacity: 0.7;
  }
}

/** Bouncing box animation that can be used for titles **/
.animated-box {
  background-color: #EC7724;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  box-shadow: 13px 10px 17px 0 rgba(0, 0, 0, 0.75);
  animation: move 3s ease infinite;
  z-index: 3000;
}

@keyframes move {
  50% {
    top: calc(90vh - 160px);
    left: calc(90vw - 200px);
  }
}


