.mb-md {
  margin-bottom: 4rem;
}

.mt-md {
  margin-top: 4rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mt-sm {
  margin-top: 2rem;
}

.ml-xs {
  margin-left: 1rem;
}

.mr-xs {
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.svg-link {
  transition: fill 0.2s;
  &:hover, &:focus, &:active {
    fill: var(--primary-accent-color);
  }
}