* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0 0 100px 0;
  min-height: 100%;
  line-height: 1.5;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #43A047;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

/** Typography Styles **/
h1 {
  margin: 0;
  font-size: 2em;
  line-height: 1.1;
  color: #43A047;
}

h2 {
  margin: 20px 0 40px 0;
}

h3 {
  margin: 20px 0 15px 0;
}

p {
  margin-bottom: 10px;
}

.primary-text {
  color: #43A047;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  height: 38px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #43A047;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #43A047;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  height: 38px;
  padding: 0.75rem;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  font-family: inherit;
}

.todo-card {
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.todo-list-subtitle {
  display: inline-block;
  padding: 20px 0 0 0;
  border-bottom: 1px solid #E0E0E0;
}

.todo-form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Header Styles **/
.app-header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.app-header-title {
  text-align: center;
}

.app-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.app-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.app-nav, .app-nav li {
  list-style: none;
  font-size: 20px;
}
.app-nav .link-active {
  font-weight: 600;
}
.app-nav a {
  color: #213547;
}
.app-nav a:hover, .app-nav a:focus, .app-nav .link-active {
  color: #43A047;
}
.app-nav a, .app-nav a:hover {
  text-decoration: none;
}

.app-header-sync-status {
  margin-left: auto;
  margin-bottom: 0;
  width: 167px;
  text-align: right;
  color: #43A047;
}

.app-header-sync-status p {
  margin: 0;
}

/** Footer Styles **/
.app-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  border-top: 1px solid #E0E0E0;
  text-align: center;
}
.app-footer p {
  margin: 0;
}

/** Light Mode Styles **/
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  .app-nav a {
    color: #BDBDBD;
  }
}
