.cardCarousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 1rem;
  list-style: none;
  margin: 0;

  &__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  &__item {
    flex: 0 0 184px;
    max-width: 184px;
    scroll-snap-align: center;
  }

  @media (min-width: 1020px) {
    justify-content: center;
  }
}
