@use '../../styles/mixins' as mixins;

.header {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid var(--border-color);

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &__navListItem {
    display: inline-block;
  }

  &__navListItemLink {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--menu-color);
    &:hover, &:focus, &:active, &Active {
      color: var(--hover-accent-color);
    }
  }

  @include mixins.media-breakpoint-up(md) {
    text-align: left;
    flex-direction: row;

    &__nav {
      padding-right: 17.8rem;
    }
  }
}
