.modal {
  display: none;

  &--active {
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__footer {
    text-align: right;
  }

  &__title {
    font-size: 2rem;
    flex-grow: 1;
  }

  &__closeIcon {
    display: block;
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-bg-color);
    padding: 2rem;
    border-radius: 8px;
    z-index: 20;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
  }

  &__header, &__body {
    margin-bottom: 2rem;
  }
}