.browseLabel {
  display: flex;
  background-color: var(--muted-bg-color);
  border: 1px solid var(--border-color);
  padding: 0.4rem 0.75rem;
  border-radius: 4px;

  &__button {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: 0 0.5rem;
    min-height: 2.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: var(--muted-bg-color);
    border: 1px solid var(--primary-color);
    margin-right: 5px;
  }

  &__text {
    flex-grow: 1;
    width: 60%;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
  }
}
