.alert {
  display: flex;
  padding: 1.5rem;
  border-radius: 4px;

  &__icon {
    line-height: 0;
    min-width: 35px;
  }

  &__content {
    flex-grow: 1;
  }

  a {
    &, &:hover, &:focus, &:visited {
      text-decoration: underline;
    }
  }

  &--success {
    background-color: var(--success-bg-color);
    border: 1px solid var(--success-border-color);

    svg {
      fill: var(--success-color);
    }
  }

  &--warning {
    background-color: var(--warning-bg-color);
    border: 1px solid var(--warning-border-color);

    svg {
      fill: var(--warning-color);
    }
  }

  &--danger {
    color: var(--danger-color);
    background-color: var(--danger-bg-color);
    border: 1px solid var(--danger-border-color);

    svg {
      fill: var(--danger-color);
    }
  }

  &--info {
    background-color: var(--info-bg-color);
    border: 1px solid var(--info-border-color);

    svg {
      fill: var(--info-color);
    }
  }
}
